*{


}


body{

	
background-image:linear-gradient(to right, yellow, orange);
}

ul a{

	text-decoration:none;
}

li{

	display:inline-block;
}
<<<<<<< HEAD

.affiche_sub{
	margin-top:15px;
	margin-left:10%;
	width:80%;
	border:3px solid black;
	box-shadow:5px 5px 5px white;
}
.affiche_sub_nom{
    text-align:center;
}
.affiche_sub_description{
	text-align:center;

=======
.hide{
	display: none;
>>>>>>> fca5bb3c42cb8573783e466cf62b86b7d87ad11f
}