*{


}


body{

	background-color:orange;
}

ul a{

	text-decoration:none;
}

li{

	display:inline-block;
}
.hide{
	display: none;
}
.col{
	width: 25%;
	display: inline-block;
	padding: 10px;
}

.item_prod{
	border:3px solid black;
	margin-top:25px;
	width:80%;
	margin-left:10%;
	text-align:center;
}   